html
{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#container
{
    z-index: 3;
    width: 100%;
    height: 100%;
    position: relative;
}

#scene
{
    z-index: 100;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
}

#dialogBox
{
    z-index: 500;
    width: 100%;
    height: 20%;
    top: 80%;
    background-color: beige;
    position: relative;
    text-align: left;
}
